

html, body {
  height:100%;
  margin: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
  scroll-behavior: smooth
}

/* MOBILE ONLY */
@media only screen and (max-width: 770px) {

  .writeupm {
    text-indent: 5em;
    font-size: 2.2vw;
    line-height: 2em;
  }

  #desktop {
    display: none;
  }

  #login-box{

    text-align: center;
    border: solid black 5px;
    width: 400px;
    border-radius: 5px;
    margin:auto;
    margin-top: 150px;
    background: white;
    padding: 50px;
  }

  #title-block{
    padding-top: 30px;
    width: 100%;
    text-align: center;
    margin:0px;
  }

  #data-pic {
    width: 95%;
  }

  .sec-container {
    padding-top: 0px;
    width: 100%;
    text-align: center;
    margin:0px;
  }

  /* Dropdown Button */
  .dropbtn {
    background-color: #5d9cec;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: red;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    top: 0px;
    position: fixed;
    display: inline-block;
    width: 100%;
    padding-bottom:5px;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    z-index: 1;
    text-align: center;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

}



/* DESKTOP ONLY*/
@media only screen and (min-width: 770px) {

  #mobile {
    display: none;
  }

  #login-box{

    text-align: center;
    border: solid black 5px;
    width: 400px;
    border-radius: 5px;
    margin:auto;
    margin-top: 150px;
    background: white;
    padding: 50px;
  }
}

/* BOTH */
  h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif;
  }

  #log-out {
    color:black;
    bottom: 0px;
  }

  .log-swap:link,.log-swap:visited {
    color: #337ab7;
    text-decoration: none;
  }

  .log-swap:hover {
    color: red;
  }

  .sec-scroll:link,.sec-scroll:visited {
    color: black;
    text-decoration: none;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  }

  .sec-scroll:hover {
    color: red;
  }

  .sections {
    margin-top: 9vh;
  }

  #check {
    background-color: #5d9cec;
  }

  #top-sec {
    margin-top: 5vh;
  }

  #color-block-left{
    position: fixed;
    text-align: center;
    float: left;
    height: 100vh;
    width: 17%;
    background-color:#5d9cec;
    border-right-style: solid;

  }

  .writeup {
    text-indent: 5em;
    font-size: 1.55vw;
    line-height: 2em;
  }


  #title-block, #title-blockm{
    padding-top: 35px;
    width: 100%;
    height: 100vh;
    text-align: center;
    margin:0px;
  }

  #text-container {
    padding-left:30px;
    padding-right: 30px;
  }

  .sec-container {
    padding-top: 35px;
    width: 100%;
    height: 100vh;
    text-align: center;
    margin:0px;
  }

  #lite-blue {
    background: #e8f6ff
  }

  #content-block-right{
    float: right;
    height: 100%;
    width: 80%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }


  #reg_pass,#reg_pass2 {
    width: 124px;
  }

  #login_pass {
    width: 134px;
  }

  .l1 {
    text-align: left;
    margin-left: 100px;
  }

  .l2 {
    text-align: left;
    margin-left: 75px;
  }

  input:focus {
    border-color: black;
    border-radius: 4px;
  }

  input{
    border-color: #d3e0e8;

  }

  #btn-reg-submit,#btn-code-submit{
    color: black;
    background: #d3e0e8;
    font-size: 16px;
    padding: 10px;
    border-radius: 12px;
    border-color: #337ab7;
    transition-duration: .3s;
  }

  #btn-reg-submit:hover,#btn-code-submit:hover{
    color: black;
    background: #337ab7;
  }

  #comp-back{
    background-image: url('2fa-background.jpg');
  }

}
